.container{
    width: 1000px;
    margin: 100px auto 0 auto;
}

.list {
    margin-bottom: 0;
    border-bottom-style: solid;
}

.list .row:last-child {
    border-bottom-style: none;
}

.sum {
    font-weight: bold;
}