.quantity-controller {
  display: flex;
}
.quantity-text {
  padding-right: 5px;
}

.quantity {
  font-weight: bold;
}

.spinner {
  position: absolute;
  right: 30px;
}

.spinner span {
  font-size: 19px !important;
}
